<div class="jumbtron py-3">
    <h1 class="display-4 text-center">Player Detail Register</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-player-detail-form></app-player-detail-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Is Captain</th>
                    <th>Team ID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.number}}</td>
                    <td (click)="populateForm(pd)">{{pd.name}}</td>
                    <td (click)="populateForm(pd)">{{pd.lastName}}</td>
                    <td (click)="populateForm(pd)">{{pd.position}}</td>
                    <td (click)="populateForm(pd)">{{pd.isCaptain}}</td>
                    <td (click)="populateForm(pd)">{{pd.teamId}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>